<html>
  <head>
    <title>Sample App</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="src/scrollbar.css" rel="stylesheet">
  </head>
  <body style="background-color: #fafafa;">
    <div class="container row">
      <div class="col-md-1 col-sm-1">
        side panel
      </div>
      <div class="col-md-6 col-sm-6" id='message'>

      </div>
      <div class="col-md-4 col-sm-4 pull-right" id='front'>

      </div>
    </div>
    <style>

    </style>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bundle.js"></script>
  </body>
</html>
