<html>
  <head>
    <title>Sample App</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="src/scrollbar.css" rel="stylesheet">
  </head>
  <body style="background-color: #fafafa;">
    <div class="row">
      <div class="col-md-1 col-sm-1">
        side panel
      </div>
      <div class="col-md-11 col-sm-11" id='root'>

      </div>
    </div>
    <style>

    </style>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bundle.js"></script>
  </body>
</html>
