<html>
  <head>
    <title>Sample App</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="src/scrollbar.css" rel="stylesheet">
  </head>
  <body>
    <div class="row" style="background-color: #fafafa;">
      <div class="col-md-3">
        <div class="col-md-2">
          hi
        </div>
        <div class="col-md-10" id='sideList'>

        </div>
      </div>
      <div class="col-md-4" id='root'>

      </div>
      <div class="col-md-5">
        <div id="details">

        </div>
        <div id="actions">

        </div>
      </div>
    </div>
    <style>

    </style>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bundle.js"></script>
  </body>
</html>
